#centralContainer
  %header
    %h1#pg-title
      %a{:href => "/"} POWER GAME
    %h2#lili Liliane Lijn
  %nav
    %a{:href => "/how-to-play"} How to Play
    %a.active-heading{:href => "/credits"} CREDITS
  %article#credits
    %section.credit
      %h2 Power Game Online is conceived and produced by Liliane Lijn
      %a.link{:href => "http://www.lilianelijn.com"} www.lilianelijn.com
    %section.credit
      %h2 Andy Patmore
      %h3 Master of Ceremonies
      %a.link{:href => "http://www.luckycolours.com"} www.luckycolours.com
    %section.credit
      %h2 Karen Lobban
      %h3 Digital & Content Production
      %a.link{:href => "mailto:karen.lobban@gmail.com"} karen.lobban@gmail.com
      %br
      %a.link{:href => "http://www.vimeo.com/karenlobban"} www.vimeo.com/karenlobban
    %section.credit
      %h2 Richard Wilding
      %h3 Website Design
      %a.link{:href => "http://www.richardwilding.com"} www.richardwilding.com
    %section.credit
      %h2 Ralph Cowling
      %h3 Web Developer / Programmer
      %a.link{:href => "http://www.gl-ob.com"} gl-ob.com
    %section.credit
      %h2 Andi Studer
      %h3 Web Developer / Programmer
      %a.link{:href => "http://www.cenatus.org"} cenatus.org
    %section.credit
      %h2 With Thanks To:
      %p.thanks
        Ed Baxter at Resonance 104.4 FM
        %br
        %a{:href => "http://www.netaudiolondon.org"}Netaudio London Festival 2011
        %br
        Iain Pate
        %br
        All the Players for their time and participation in this event
        %br
    %p.copyright © Liliane Lijn
/[if lt IE 7 ]
  <script src="js/libs/dd_belatedpng.js"></script>
  <script> DD_belatedPNG.fix('img, .png_bg');</script>
