#centralContainer
  %header
    %h1#pg-title
      %a{:href => "/"} POWER GAME
    %h2#lili Liliane Lijn
  %nav
    %a.active-heading{:href => "/how-to-play"} How to Play
    %a{:href => "/credits"} CREDITS
  %article#how-to-play
    %h1 HOW TO PLAY
    %section.guide
      %h2 GENERAL PUBLIC – HOW TO JOIN IN THE GAME
      %p
        All non-players are encouraged to vote for what they believe is the most powerful word, taking into consideration the tweeted arguments of the Players.
        %br/
        You can watch all aspects of the game on the webpage until the MC asks for VOTING to begin.
        %br/
        Then log in to your Twitter account and Tweet your vote as follows:
        %br/
        %br/
        %strong @powergameonline #word you think is most powerful i.e. @powergameonline #energy
        %br/
        %br/
        You can watch the votes being tallied on the webpage.
        %br/
        Voting is over when the MC announces END OF ROUND (1,2 etc) THE MOST POWERFUL WORD IS ----. MC announces next Round.
    %section.guide
      %h2 Players
      %ul
        %li During the Game, keep Twitter open to play.
        %li To see all Players’ choices and arguments for their chosen word, go to www.powergameonline.com and keep this website open.
        %li Webpage www.powergameonline will update more slowly than Twitter
        %li All tweets when playing Power Game Online should always begin with: @powergameonline. This will prevent spamming your timeline.
        %li Only registered Players can choose and argue for the most powerful word.
        %li Anyone on Twitter can vote for the most powerful word once MC calls for votes.
        %li MC @powergameonline is the Master of Ceremonies and will guide and conduct the Game.
    %section.guide
      %h2 Step 1.
      %p
        Log in on your Twitter Account.
        %br/
        MC @powergameonline will deal and announce the wordcards:
        %br/
        %em e.g. "New Words: energy split atom"
        %br/
        The words will be visible at the top of the webpage under the MC column and on Twitter
        @powergameonline.
        %br/
        Three words will be randomly dealt and displayed per round, i.e: energy split atom
        %br/
        Three new words will appear at each round of the game, changing the colours of the wordcards on the
        website.
    %section.guide
      %h2 Step 2.
      %p
        MC @powergameonline will announce:
        %em CHOOSE YOUR MOST POWERFUL WORD AND STATE WHY.
        -#%br/
        -#MC @powergameonline will deal and announce the wordcards:
        %br/
        If you decide ENERGY is the most powerful word your tweet should start like this:
        %br/
        %em
          @powergameonline #energy ‘your argument’
          %br/
          i.e. @powergameonline #energy stuff matter is made of, energy creates atom.
        %br/
        %stong
          Only need to use # once in front of your chosen word.
          %br/
          All of the tweets for each word will appear both on the Twitter timeline for @powergameonline and the web page www.powergameonline in columns, each under the wordcard being defended.
    %section.guide
      %h2 Step 3.
      %p
        The MC will announce: Last call for players tweets Round 1.
        %br
        One or two minutes later MC will announce: GENERAL PUBLIC VOTE NOW FOR THE MOST POWERFUL WORD
      %ul
        %li Mention @powergameonline
        %li Prefix your word with # i.e. #energy. Without the # the word will not show.
      %p
        The tweeting public who are following the live game on the website or Twitter are encouraged to vote now for
        what they believe to be the most powerful word based on the Players arguments. Players are advised not to
        vote.
        %br
        As votes come in, they are automatically distributed on the three words on the webpage.
        If only one word receives all the votes, only that word will show numbers.
    %section.guide
      %h2 Step 4.
      %p
        MC announces: END OF ROUND (1,2,3 etc) THE MOST POWERFUL WORD IS ENERGY.

        This round is now over and the most powerful word is the word that has received the largest number of
        votes. A new Round begins.
        • Please be patient in between rounds as it may take a few minutes for the MC to shuffle and deal the
        next set of cards for the next round.
    %p.copyright © Liliane Lijn
/[if lt IE 7 ]
  <script src="js/libs/dd_belatedpng.js"></script>
  <script> DD_belatedPNG.fix('img, .png_bg');</script>